<footer class="footer">
      <div class="right">
        <a href="http://ub.univie.ac.at" target="_blank" class="link link-last"><img src="theme/img/ub-logo_ci.png" height="20"></a>
      </div>
  </footer>