<footer class="footer">
      <div class="left">
      	<a href="http://phaidraplusservice.univie.ac.at/" target="_blank">{{translate "Hilfe"}}</a>
      	<a href="#" class="link" data-page="page-contact">{{translate "Kontakt"}}</a>
        <a href="#" class="link" data-page="page-imprint">{{translate "Impressum"}}</a>
  	 </div>
      <div class="right">
        <a href="http://univie.ac.at" target="_blank" class="link link-last"><img src="theme/img/ub-logo_ci.png" height="20"></a>
      </div>
  </footer>