<footer class="footer row">
    <div class="medium-12 columns">
      <div class="left"><a href="#" data-page="page-help">{{translate "Hilfe"}}</a></div>
      <div class="right">
        <a href="#" class="link link-first" data-page="page-contact">{{translate "Kontakt"}}</a>
        <a href="#" class="link link-first" data-page="page-imprint">{{translate "Impressum"}}</a>
        <a href="http://univie.ac.at" target="_blank" class="link link-last"><img src="theme/img/uni_logo_farbe_02_small.png" height="20"></a>
      </div>
    </div>
  </footer>