{{!
{
  "name" : "PPT Modal Dialog Template",
  "description" : "Modal Dialog Template to fetch a PPT file for a collection",
}
}}
<div class="reveal-modal large action-modal" id="modal-ingest" data-reveal>
		<h4>{{translate "ingest-modal-title"}}</h4>

		<p>{{{translate "ingest-modal-explanation"}}}</p>
		

	  <div class="modal-actions">
	  	<a href="https://phaidra.univie.ac.at/create_object" target="_blank" id="ingest-link" class="button primary">{{translate "ingest-modal-link"}}</a>
	  	<a href="#" id="ingest-modal-close-btn" class="button alert tiny">{{translate "close"}}</a>
	  </div>
	  
</div>