{{!
{
  "name" : "Intro Page Template",
  "description" : "",
}
}}
<div id="intro">
<svg viewBox="0 0 640 143.668">
<use xlink:href="#svglogo"></use>
</svg>
<div class="search">

<p><form id="introsearch">
<input type="text" id="intro-search" placeholder="Digitale Objekte in Phaidra und PhaidraTemp suchen"></form>
<form method="POST" action="/" id="introform">
<p><input type="hidden" name="login" value="1">
<a href="#" type="submit" id="login-button" title="{{translate 'login'}}" title="{{translate 'login'}}" class="submit icon icon-logout icon-large" data-tooltip>Mit u:account anmelden</a>
</p>
</form>
<p>Phaidra+ ist das erweiterte Recherche- und Präsentationssystem der Universitätsbibliothek Wien. Derzeit können Sie auf digitale Objekte der Arbeitsdatenbank <a href='https://phaidra.univie.ac.at/'>PhaidraTemp</a> sowie des Langzeit-Archivierungssystems <a href='https://phaidra.univie.ac.at/'>Phaidra</a> zugreifen.</p>
</p>

</div>