{{!
{
  "name" : "PPT Modal Dialog Template",
  "description" : "Modal Dialog Template to fetch a PPT file for a collection",
}
}}
<div class="reveal-modal large action-modal" id="modal-ppt" data-reveal>
		<h4>{{translate "PPT-download-title"}}</h4>

		<p>{{{translate "PPT-creation-explanation"}}}</p>

	  <div class="modal-actions">
	  	<a href="#" id="modal-ppt-create-btn" class="button primary">{{translate "create-PPT"}}</a>
	  	<a href="#" id="modal-ppt-close-btn" class="button alert small">{{translate "close"}}</a>
	  </div>
	  
</div>