{{!
{
  "name" : "Semantic View",
  "description" : "",
}
}}

     <div id="zonecentre" class="gradient">
            <canvas id="carte" class="carte" width="1024" height="768"></canvas>
            <div id="ctlzoom" class="button-group">
                    <a href="#" id="zoomPlusButton" title="S'approcher" class="button dark lighter tiny"> </a>
                    <a href="#" id="zoomMinusButton" title="S'éloigner" class="button dark lighter tiny"> </a>
                    <a href="#" id="lensButton" class="button dark lighter tiny"> </a>
                    <a href="#" id="edgesButton" class="button dark lighter tiny"> </a>

                <div id="overviewzone" class="gradient">
                    <canvas id="overview" width="0" height="0"></canvas>
                </div>
               
                <form id="recherche">
                    <input id="searchinput" class="grey" autocomplete="off" placeholder="Suche im Graphen" />
                    <input id="searchsubmit" type="submit" />
                </form>

            </div>
        </div>
        
        <div id="leftcolumn">
            <div id="unfold">
                <a href="#" id="aUnfold" class="rightarrow"> </a>
            </div>
            <div id="leftcontent"></div>
        </div>
        <ul id="autocomplete">
        </ul>