<div id="timeline">
	<div id="timeline-nav" class="button-group">
		<a href="#" id="timeline-zoom-in" class="gen-enclosed button icon button dark lighter icon-plus"></a>
		<a href="#" id="timeline-zoom-out" class="gen-enclosed button icon dark icon-minus lighter"></a>
	</div>
	<div id="timeline-container">
	</div>
	<a class="left navigate fade icon icon-prev" href="#"><span></span></a>
	<a class="right navigate fade icon icon-next" href="#"><span></span></a>
</div>