<div id="uncategorised-objs">
	<div class="topbar">
		<h2 data-tooltip class="tip-top" title="{{translate "objects-not-placeable"}}"><span class="inner">{{translate title}}</span></h2>
		<a href="#" class="open-close-icon">&nbsp;</a>
	</div>
	<div class="objs-outer-container">
		<div class="objs-container clearer"></div>
	</div>
</div>