#search-dropdown-container {
	//box-sizing: border-box;
	//margin-left:0px;
	//position: absolute;
	//top: 0;
	//max-width: 100% !important;
	//z-index: 99;
	background-color: $topbar-bg-color;
	display:none;

}
#search-dropdown-container.open {
	display:block;
}


div#search-canvas {
	//max-width: 100% !important;
	//width:100%;
		//padding-left: 90px;
	
	//padding-top: 90px;
	//position: absolute;
	//top:0px;
	//left:100%;
	//margin-left:-170px;
	margin-top:-5px;
	//background-color: #F0F0F0;
	

	label, span.title {
		display: block;
		font-size: 13px;
		line-height: 16px;
		color:$header-font-color;
		margin-right: 10px;
		//color:inherit;

		&.secondary {
			display:none;
			color: #666;
			font-size: 11px;
		}

		&.value-label {
			color: #fff;
			display: inline;
			margin-right: 0.5em;
		}
	}

	#queryterm-field {
		//border-bottom: 1px dotted #666;
		//left: 90px;
		//position: absolute;
		//right: 20px;
		//top: 20px;
	}
}

#filter-canvas {
	//border-bottom: 1px dotted #666;
	margin: 0 0 0.5em;

	.sf {
		border-bottom: $body-line-color;
		margin-bottom: 0.5em;
		padding-top: 0.5rem;
		position: relative;
		width: 100%;
		overflow:visible;
		&:after {
			content:"";
			display:table;
			width:100%;
		}
		.ui-helper-hidden-accessible {
			display:none;
		}

		&:last-child {
			border: 0;
			margin: 0;
		}

		.boolean-ops {
			background-color: #d9d9d9;
			border: 0;		
			color: #333;
			font-size: 11px;
			height: auto;
			left: 0;
			margin: 0 auto;
			padding: 3px;
			position: absolute;
			right: 0;
			top: -12px;
			width: 100px;

			&:hover {
				background-color: rgb(30, 150, 252);
				color: #fff;
			}
		}

		.comparison-ops {
			clear: both;
			float: left;
			margin-right: 5%;
			width: 15%;
		}

		.with-comparison-operators {
			float: left;
			width: 80%;
		}
	}
	label {
		float:left;
		width:25%;
		line-height:1.8rem !important;
		margin-bottom:0;
	}
	input, select {
		width:60%;
		float:left;
		padding: 0 .5rem;
		height:1.8rem;
	}
	select {
		font-size:.825rem;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width: auto !important;
	}

	.sf {
		.boolean-ops {
			top:-16px;
		}
		.with-comparison-operators { 
			width:100px;
		}
		.comparison-ops {
			clear:none;
			width:94px;
		}
	}
	
	.remove-filter {
		color:$body-font-color;
		&:hover {
			color:white;
		}
		float:right;
		margin-right: -0.5em;
		padding: 0.2em 0em 0.2em 1em;

		&:before {
			@include inline-icon("\e0cf",1.5rem,inherit);
		}
	}
}

#start-search-button {
	margin: 0;
}

#searchfield-select {
	width: auto;
}